# Data Science Tools and Ecosystem

### introduction

#### In this notebook, Data Science Tools and Ecosystem are summarized.

### Data Science Languages

#### Some of the popular languages that Data Scientists use are : 
     1. python
     2. r
     3. SQL
     4. Matlab
     5. java

### Data Science Libraries

#### Some of the commonly used libraries used by Data Scientists include:
     1. Numpy
     2. Pandas
     3. Matplotlib
     4. Seaborn
     5. Scikit learn

### Data Science Tools
     ___________________
    | Data Science Tools|
     ___________________
    | Hadoop            |
     ___________________
    | Jupyter notebook  |
     ___________________
    | My Sql            |
     ___________________

### Introducing arithmetic expression examples 

### Below are a few examples of evaluating arithmetic expressions in Python

In [12]:
# This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [14]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Objectives : 
   1. python
   2. sql
   3. r
   4. pandas

## Author
Teja Siva Kumar Paleti